.project-experience {
    width: 80%;
    margin: auto;
}
.project {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
.project-title {
    font-weight: bold;
    font-size: 1.2em;
}
.project-date {
    font-style: italic;
    color: #555;
}
.project-description {
    margin-top: 5px;
}
.project-description li {
    margin-bottom: 5px;
}